<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          charset="UTF-8"/>
    <title>修改密码</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../static/css/validator/bootstrapValidator.css"/>
    <link href="../../static/css/hato.css" rel="stylesheet"/>
    <script src="../../static/js/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrapValidator.js"></script>
    <script src="../../static/js/core/business/menuBar.js"></script>
</head>
<body>
<div id="left" style="width: 235px; height: 100%; float:left">
</div>
<div id="body" class="container" style="width: calc(100% - 235px); float:right">
    <div class="well"
         style="margin-top: 10px; padding-left: 30px; padding-right: 30px; min-height: 930px; min-width: 1088px">
        <h5 class="h5-bold">修改密码</h5>
        <br/>
        <form id="changePasswordForm" style="max-width: 290px; margin:auto">
            <h5 class="h5-gray" style="margin-top: 78px">旧密码</h5>
            <div class="form-group">
                <input type="password" class="form-control" id="oldPassword" name="oldPassword">
            </div>
            <h5 class="h5-gray" style="margin-top: 60px">新密码</h5>
            <div class="form-group">
                <input type="password" class="form-control" id="newPassword" name="newPassword"
                       placeholder="8~20位数字和字母的组合">
            </div>
            <h5 class="h5-gray" style="margin-top: 60px">确认密码</h5>
            <div class="form-group">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                       placeholder="8~20位数字和字母的组合" style="margin-bottom: 35px">
            </div>
            <button id="changePasswordBtn" class="btn gray" type="button"
                    style="width: 100px; float:right;">
                保存
            </button>
            <button id="passwordCancel" class="btn gray" type="button" style="width: 100px;float:right; margin-right: 10px">取消
            </button>
        </form>
    </div>
    <div id="footer" style="height: 30px; margin-left: 15px">
        <h5 class="h5-gray-low">
            &copy; 2018 HEZI版权所有
        </h5>
    </div>
</div>
<script language="JavaScript">
    $(document).ready(function () {
        var $left = $("#left");
        $left.load("../fragment/menuBar.html #menuBar", function () {
            $(".collapse").collapse();
            menuBar().init('#changePasswordMenu', null);
        });
        $left.height($("#body").height());
    });

    $('#changePasswordBtn').on('click', function () {
        var bv = $("#changePasswordForm").data('bootstrapValidator');
        bv.validate();
        if (bv.isValid()) {
            $.ajax({
                type: 'POST',
                url: '/changePassword',
                dataType: 'json',
                data: $('#changePasswordForm').serialize(),
                success: function (data) {
                    console.log("AA")
                }
            })
        }
    });

    $("#passwordCancel").on('click', function () {
        window.location.href = "/views/changePassword";
    });

    $("#changePasswordForm").bootstrapValidator({
        container: 'tooltip',
        feedbackIcons: {
            valid: 'fa fa-check',
            invalid: 'fa fa-times',
            validating: 'fa fa-refresh'
        },
        fields: {
            newPassword: {
                validators: {
                    regexp: {
                        enable: true,
                        regexp: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,20}$/,
                        message: '请输入8~20位数字和字母的组合'
                    }
                }
            },
            confirmPassword: {
                validators: {
                    identical: {
                        field: 'newPassword',
                        message: '密码不一致'
                    },
                    regexp: {
                        enable: true,
                        regexp: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,20}$/,
                        message: '请输入8~20位数字和字母的组合'
                    }
                }
            }
        }
    });
</script>
</body>
</html>